# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
venv/
ENV/
.env.*

.env.

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# Data and output
output/
*.csv
*.json
*.txt
*.log
data/


# System files
.DS_Store
Thumbs.db

# Credentials
credentials.json
token.json

# Others
*.bak
*.tmp
